name: Sync Fork

on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight
  workflow_dispatch: { }

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      #workflows: write # allow syncing workflow files as well

    steps:
      - name: Sync with upstream
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          BRANCH_NAME: ${{ github.ref_name }}
        run: gh repo sync $REPOSITORY -b $BRANCH_NAME
